<!-- tag::allButValidation[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${pizzaOrder}">
    <h1>Заказ на пиццу создан!</h1>

    <img th:src="@{/images/SpringPizza.jpg}"/>

    <h3>Пиццы в заказе:</h3>
    <ul>
        <li th:each="pizza : ${pizzaOrder.pizzas}">
            <span th:text="${pizza.name}">Название пиццы</span></li>
    </ul>
    <a th:href="@{/design}" id="another">Добавить ещё пиццу</a><br/>

    <!-- end::allButValidation[] -->
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Заполните форму корректно и повторите заказ
        </span>
    </div>

    <!-- tag::allButValidation[] -->
    <h3>Я хочу видеть свою пиццу тут ...</h3>
    <label for="deliveryName">Имя: </label>
    <input type="text" th:field="*{deliveryName}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryName')}"
          th:errors="*{deliveryName}">Name Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

        <label for="deliveryCity">Город: </label>
    <input type="text" th:field="*{deliveryCity}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryCity')}"
          th:errors="*{deliveryCity}">City Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="deliveryStreet">Улица: </label>
    <input type="text" th:field="*{deliveryStreet}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryStreet')}"
          th:errors="*{deliveryStreet}">Street Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="deliveryState">Дом: </label>
    <input type="text" th:field="*{deliveryState}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryState')}"
          th:errors="*{deliveryState}">State Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="deliveryFlat">Квартира: </label>
    <input type="text" th:field="*{deliveryFlat}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryFlat')}"
          th:errors="*{deliveryFlat}">Flat Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <h3>Заплатить с карты...</h3>
    <!-- tag::validatedField[] -->
    <label for="ccNumber">Номер карты: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">ccNumber Error</span>
    <!-- tag::allButValidation[] -->
    <!-- end::validatedField[] -->
    <br/>

    <label for="ccExpiration">Срок действия: </label>
    <input type="text" th:field="*{ccExpiration}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">Expiration Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}"/>
    <!-- end::allButValidation[] -->
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">CVV Error</span>
    <!-- tag::allButValidation[] -->
    <br/>

    <input type="submit" value="Подтвердить и оплатить"/>
</form>
</body>
</html>
<!-- end::allButValidation[] -->